.input-box{
    width: 100%;
    padding: 5px;
    margin: auto;
    border: 1px solid #00e7ff;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 0px #25d7fb, 0px 0px 0px 0px #00cbfe;
    color: #000;
}

.search-box {
    width: 40%;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

.table-container {
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 10px 25px;
}

.table-container h3 {
    text-align: center;
    text-decoration: underline;
    color: #000;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}
.button-box .btn{
    display: inline-block;
    width: 25%;
    color: #fff;
    border-radius: 10px;
}


.button-box .btn-asc {
    background-color: #06a028;
    border: 1px solid #06a028;
}
.button-box .btn-asc:hover{
    color: #06a028;
    background-color: #fff;
    border: 1px solid #06a028;
}

.button-box .btn-desc {
    background-color: #fe0000c6;
    border: 1px solid #fe0000c6;
}
.button-box .btn-desc:hover{
    color: #fe0000c6;
    background-color: #fff;
    border: 1px solid #fe0000c6;
}

@media only screen and (max-width:321px){
    .table-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .search-box{
        width: auto;
        margin-left: 30px;
    }
    .button-box {
        margin-left: 35px;
    }
    .button-box .btn{
        width: auto;
        margin-bottom: 8px;
    }
}

@media (min-width:322px) and (max-width:376px){
    .table-container{
        width: 95%;
        margin: 3px;
        padding: 0;
    }

    .search-box{
        width: auto;
    }

    .button-box .btn{
        width: auto;
    }
}

@media (min-width:376px) and (max-width:426px){
    .table-container{
        width: 100%;
    }
    .search-box{
        width: auto;
    }
    .button-box .btn{
        width: auto;
    }
}

@media (min-width:427px) and (max-width:769px){
    .table-container{
        width: 100%;
    }
    .search-box{
        width: auto;
    }
    .button-box .btn{
        width: auto;
    }
}

@media (min-width:770px)and (max-width:1025px){
    .table-container{
        width: 100%;
    }
    .search-box{
        width: auto;
    }
    .button-box .btn{
        width: auto;
    }
}

@media (min-width:1026px) and (max-width:1441px){
    .table-container{
        width: 100%;
    }
    .search-box{
        width: auto;
    }
    .button-box .btn{
        width: auto;
    }
}
